* {
  box-sizing: border-box;
}

:root {
  --dark: black;
  --title-background:#4086d9;
  ;
  --title-padding: 10px 0px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0px;
}

/* HEADER */

header {
  display: flex;
  background-color: var(--dark);
  padding:var(--title-padding);
  height: 15vh;
}

h1 {
  margin: auto 0;
  padding: 5px;
  background-color: var(--title-background);
  color:  var(--dark);
  font-size: 35px;
}
/* 
nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  color: var(--title-background);
  right: 0px;
} */

nav ul {
  position: absolute;
  right: 0px;
  padding: 0px 30px;
}

nav ul li {
  display: inline-block;
  margin: 5px;
  border-bottom: 2px solid var(--title-background);
}

nav a:link {
  text-decoration:none;
  color: var(--title-background);
}

nav a:visited {
  color: var(--title-background);
}

nav a:hover {
  color: var(--dark);
  background-color: var(--title-background);
}


/* BANNER */

.hero-banner {
  background-image: url("../images/banner.jpg");
  background-position: center;
  background-size: cover;
  /* padding: 80px; */
  height: 25vh;
  display: flex;  
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-end;
}

.hero-banner div h2 {
  background-color: var(--title-background);
  padding: 10px;
  margin-bottom: 10px;
  font-size: 18px;
}

/* MAIN SECTION */

/* Main section general styling */

main h2 {
  text-align: right;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.section-name {
  margin: 10px;
  padding: 10px;
  border-right: 2px solid;
  width: 110px;
}

.page-section {
  display: flex; 
  margin: 10px;
}

/* About section */

.about-section {
  display: flex;
}

.about-section p {
  width: 80%;
  text-align: justify;
  margin: 10px 20px;
}


/* Work section */

.projects-flex {
  display: flex; 
  flex-grow: 1;
  flex-direction: column;
  margin: 10px;
}

.project-tile { 
  background-position: center;
  background-size: cover;
  border: 4px solid var( --title-background);
  margin: 5px;
  opacity: 0.8;
}

.project-tile:hover { 
  opacity: 1.0;
  cursor:pointer;
}


#legend {
  display: inline-block;
  background-color: var(--title-background);
  padding: 10px;
  margin: 35% 0 15px 0;
}

#project-1 {
  background-image: url("../images/02-portfolio-4.jpg");
}

.project-flex-double {
  display: flex;
  flex-direction: row;
}

#project-2, #project-3, #project-4, #project-5  {
    flex: 1 1 0px;
}

#project-2 {
  background-image: url("../images/02-portfolio-1.jpg");
}

#project-3 {
  background-image: url("../images/02-portfolio-2.jpg");
}

#project-4 {
  background-image: url("../images/02-portfolio-3.jpg");
}

#project-5 {
  background-image: url("../images/02-run-buddy.jpg");
}

/* Contact section */

.page-section-contact {
  display: flex;
  margin: 10px;
  flex-grow: 1;

}

.page-section-contact ul {

  padding: 0;
  margin: auto;
}

.page-section-contact ul li {
  color: var(--dark);
  display: inline-block;
  margin: 20px;
  border-bottom: 2px solid var(--dark);
}
  
#contact a:link {
  text-decoration:none;
  color: var(--dark);
}
  
#contact a:visited {
  color: var(--dark);
}
  
#contact a:hover {
  color: white;
  background-color: var(--dark);
}  

/* MEDIA QUERIES */

@media only screen and (max-width: 768px) {
  
}